* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
a {
	text-decoration: none;
}
#root {
	display: grid;
	place-content: center;
	height: 100vh;
	background-color: hsl(217, 100%, 97%);
}
.container {
	display: flex;
	justify-content: space-between;

	height: 550px;
	width: 850px;
	border-radius: 20px;
	background-color: white;
	padding: 20px;
}
.navbar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-image: url('bg-sidebar-desktop.svg');
	background-position: center;
	flex-grow: 1;
	gap: 20px;
	border-radius: 10px;
	min-width: 250px;
	padding: 40px 30px;
}
.element {
	flex-grow: 3;
	padding: 40px 60px 40px 100px;
}
.selector {
	display: grid;
	place-content: center;
	border: 1px solid hsl(0, 0%, 100%, 50%);
	background-color: transparent;
	color: white;
	border-radius: 50%;
	height: 35px;
	width: 35px;
}
.active-selector {
	display: grid;
	place-content: center;
	border: 1px solid hsl(0, 0%, 100%, 50%);
	background-color: hsl(0, 0%, 100%, 50%);
	color: hsl(213, 96%, 18%);
	border-radius: 50%;
	height: 35px;
	width: 35px;
}
.navlink {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	width: 100%;
}
.navlink-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 5px;
}
.navlink-side p {
	font-size: 12px;
	font-weight: 400;
	color: hsl(0, 0%, 100%, 50%);
	letter-spacing: 1px;
}
.navlink-side h1 {
	color: hsl(0, 0%, 100%, 85%);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
}
.form-main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.form-main h1 {
	font-size: 30px;
	font-weight: 700;
	color: hsl(213, 96%, 18%);
}
#not-valid {
	color: red;
}
.form-main p {
	font-size: 14px;
	color: hsl(231, 11%, 63%);
}
.info-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}
.info-form label {
	font-size: 14px;
	color: hsl(213, 96%, 18%);
}

.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 5px;
}
.field input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid hsl(229, 24%, 87%);
	outline: none;
	padding: 5px 20px;
	color: hsl(213, 96%, 18%);
}
.next {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin-top: 20px;
}
.next button {
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: hsl(213, 96%, 18%);
	color: hsl(0, 0%, 100%);
}
.next p {
	font-size: 16px;
	font-weight: 500;
}
.next button:hover {
	background-color: hsl(213, 96%, 18%, 75%);
}
.plans {
	display: flex;
	width: 100%;
	height: 200px;
	justify-content: stretch;
	align-items: stretch;
	gap: 20px;
	margin-top: 25px;
}
.plan {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 120px;
	height: 170px;
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 10px;
	padding: 15px;
}
.plan:hover {
	border-color: hsl(243, 100%, 62%, 60%);
	background-color: hsl(243, 100%, 62%, 10%);
}

.plan h2,
.active h2 {
	color: hsl(213, 96%, 18%);
	font-size: 16px;
	margin-bottom: 5px;
}
.plan p,
.active p {
	font-size: 12px;
}
.active {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 120px;
	height: 170px;
	border: 1px solid;
	border-radius: 10px;
	padding: 15px;
	border-color: hsl(243, 100%, 62%, 90%);
	background-color: hsl(243, 100%, 62%, 10%);
}

.icon,
.icon2,
.icon3 {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-position: center;
}
.icon {
	background-image: url('icon-arcade.svg');
}
.icon2 {
	background-image: url('icon-advanced.svg');
}
.icon3 {
	background-image: url('icon-pro.svg');
}
